

.button-59 {
  position: absolute;
  top: 300px; 
  left: 55px;
  margin-top: 50px;
  z-index: 1; 
  align-items: center;
  background-color: #ffffff;
  border: 0.5px solid #a90505;
  box-sizing: border-box;
  border-radius: 12px;
  color: #a90505;
  cursor: pointer;
  fill: none;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 16px;
  padding: 10px 40px;
  justify-content: center;
  line-height: 12px;
  min-width: 100px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow:
rgba(199, 15, 89, 0.48) 6px 2px 16px 0px,
rgba(237, 135, 201, 0.8) -6px -2px 16px 0px;}
  

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #ffffff;
  color: #000000;
  fill: #000000;
}


@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}



.topnav {
  margin: 50px;
  padding: 0;
  background-color: #f7e1d7;
  float: left;
  position: relative;
  font-family: "Lucida Console", "Courier New", monospace;
box-shadow:
rgba(199, 15, 89, 0.48) 6px 2px 16px 0px,
rgba(237, 135, 201, 0.8) -6px -2px 16px 0px;

border-radius: 12px;

}


.topnav  a {
border-radius: 12px;
margin: 1px;
  display: block;
  color: #a90505;
  padding: 12px 70px;
  text-decoration: none;
  text-align: center;
}

.topnav a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  }

.topnav a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}


table th, td {
border: 1px solid;
border-color: #4a5759;
color: #000000;
padding:10px;
border-collapse: collapse;
margin-bottom: 40px; 
}

td {

background-color:#f7e1d7;

}

td:hover {background-color: #ffffff;}
th:hover {background-color: #a90505; color:#ffffff}

th {
  text-align: center;
  background-color: #ffffff;
  color:#a90505;
  writing-mode: horizontal-tb;
  font-family: "Lucida Console", "Courier New", monospace;
  margin-bottom: 100%;
}


.myHeader {
  background-color: #f7e1d7;
   color: #000000;
  text-align: center;
  border: 5px solid #dedbd2;
    padding: 30px;
    margin-color: #4a5759;
    font-family: "Lucida Console", "Courier New", monospace;
    box-shadow:
rgba(6, 204, 19, 0.48) 6px 2px 16px 0px,
rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}



.float-container img {
  float: left; 
  width: 200px;
  border-radius: 50%;
padding: 20px;
border: 4px #a90505;
}

.float-container {

  position: absolute;
right: 10%;
left:30%;
background-color: #f7e1d7;
border-radius: 12px;
font-family: "Lucida Console", "Courier New", monospace;
font-size: auto;
padding: 10px;
margin-left: 30px;
margin-top: 40px;
margin-bottom: 50%;
  box-shadow:
rgba(199, 15, 89, 0.48) 6px 2px 16px 0px,
rgba(237, 135, 201, 0.8) -6px -2px 16px 0px;

justify-content: center;
align-items: center;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #093118;
  color: #f7e1d7;
  text-align: center;
  padding: 5px 0;
  box-shadow:
rgba(199, 15, 89, 0.48) 6px 2px 16px 0px,
rgba(237, 135, 201, 0.8) -6px -2px 16px 0px;
}

body {
  padding-bottom: 60px; 
  background-image: url("stacks-books-open-books-autumn-leaves-them-seamless-pattern-watercolor-digital-illustration-graceful-branches-with-green-leaves-isolated-vintage-background-school-autumn_1201756-943.avif");
 background-color: #cccccc;

}

.row {

margin-bottom: 40px; 
}

