p {

color: #4a5759;
text-align: center;
padding: 10px;
}

  #menu {
  background-color: #dedbd2;
  color: #4a5759;
  text-align: center;
  padding: 0px;
  }

  table, th, td {
  border: 1px solid;
}
