p {
  color: #4a5759;
}

  #menu {
  background-color: #dedbd2;
  color: #4a5759;
  text-align: center;
  padding: 30px;
  }

    #textintable {

  color: #4a5759;
  text-align: center;
  padding: 30px;
  }